*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Credenciales y parámetros de la API (no subir a GitHub)
nvidia_api_config.json
pythonConnect
/.kotlin
/app/release
